
<h2>Credits: <%= @user.credits %></h2>
<% if current_user.id != @user.id %>
<h4><%=@user.username %> has <%= @user.cats.count %> cats!</h4>
<% else %>
<h4> You have <%= @user.cats.count %> cats!</h4>
<% end %>
<% @user.cats.each do |cat| %>

<%= cat.name %>

<img id="cat" src= <%= "#{cat.cat_url}" %> width = "200" height = "200">

<% end %>

<% if current_user.id == @user.id %> 

<%= link_to 'make a new cat', new_user_cat_path(@user) %>
<% else %>

<% end %>