<link rel="stylesheet" href="/index_styles.css">

<h1>All the Kittehs</h1>
<div class = "cat_container">


<% @cats.each do |cat| %>
<div class="cat_box">

<p>Name: <%= cat.name %> | Cost: <%= cat.cost %></p>
<img id="cat" src= <%= "#{cat.cat_url}" %> width = "200" height = "200"><br>
<<<<<<< HEAD
<<<<<<< HEAD
<%# <%= link_to "Add this kitteh to your collection", cat_path(cat) %> %>
<%# <% if !cat.creator_name %> %>

<%# <p>Discovered by: <%= link_to "test_user", user_path(cat.creator_id)  %></p>
<%# <%else %> %>
<%# <p>Discovered by: <%= link_to cat.creator_name, user_path(cat.creator_id) %></p> %> %>
<%# <% end %> %>
=======
<%= link_to "Add this kitteh to your collection", cat_path(cat) %>
<% if !cat.creator %> 

<p>Discovered by: <%= link_to "test_user", user_path(cat)  %></p>
<%else %>
<p>Discovered by: <%= link_to cat.creator.username, user_path(cat.creator_id) %></p>
<% end %>
>>>>>>> rework_associations
=======
<%= link_to "Add this kitteh to your collection", cat_path(cat) %>
<% if cat.creator && cat.creator.username %>

<p>Discovered by: <%= link_to cat.creator.username, user_path(cat.user_id)%></p>
 
<% else %> 
<% end %> 
>>>>>>> 5a8d302057026b5d60c0303e6e3befc97133f6a9
</div>

<% end %>

</div>


