<link rel="stylesheet" href="/index_styles.css">

<h1>All the Kittehs</h1>
<div class = "cat_container">


<% @cats.each do |cat| %>
<div class="cat_box">

<p>Name: <%= cat.name %> | Cost: <%= cat.cost %></p>
<img id="cat" src= <%= "#{cat.cat_url}" %> width = "200" height = "200"><br>
<%= link_to "Add this kitteh to your collection", cat_path(cat) %>
<% if cat.creator && cat.creator.username %>

<p>Discovered by: <%= link_to cat.creator.username, user_path(cat.user_id)%></p>
 
<% else %> 
<% end %> 
</div>

<% end %>

</div>


