<%= form_for @cat do |f| %>
<br><br>
<%= f.label :name %>
<%= f.text_field :name %>
<br><br>
<%= f.label :cost %>
<%= f.text_field :cost %>
<%= f.hidden_field :cat_url, value:" " %>
<br><br>
<%= f.submit 'submit' %>

<input id="btn" type="button", value= "New Cat">

<% end %> 

<div class= "cat-container">
</div>
<script src= "/cats.js">
</script> 

<script>
</script>