<link rel="stylesheet" href="/show_cat_styles.css">

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<div class="cat-container">
<div class="info-box">
<% if user_has_cat %>
<h3 style="color:blue">You have this cat</h3>
<% end %>


<h3>Name: <%= @cat.name %></h3>
<h3>Cost: <%= @cat.cost %></h3>
<img id="cat" src= <%= "#{@cat.cat_url}" %> width = "200" height = "200">

<% if !current_user.cats.include?(@cat) %>

<h3>Collect this cat</h3>
<%= form_for @trade do |f| %> 
<%= f.hidden_field :user_id %>
 <%= f.hidden_field :cat_id %>  
<%= f.submit 'Do it meow' %>
<% end %>
<% end %>

<h3>Kitteh Comments</h3>
<%= render 'notes/form' %>

<% if @user && user_has_cat %>

<%= link_to 'delete this cat', delete_cat_path(@user) %>

<% end %>


<% @cat.notes.each do |note| %>

<% if note.content %>
<% note.content %>
<strong><p><%=note.user.username%>: </strong><%=note.content%>
</p> <% if note.user == current_user %> 
 <%= link_to "edit comment", note_path(note) %>
<% end %>
<% end %> 
<% end %>
 
</div>
</div>


