<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/main_styles.css"> 
    <title>Cat-O-Mat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header-nav">
  <% if !logged_in? %>
  <%= link_to ' Already have an account? Login.', login_path, class: "in-out" %>&nbsp&nbsp&nbsp;
  <% end %>
  <% if logged_in? %>
  <%= link_to 'logout', logout_path, class: "in-out" %>
  <% end %>
  <% if logged_in? %>
  <%= link_to 'all the cats', cats_path, class: "local-nav" %>&nbsp&nbsp&nbsp;
  <%= link_to  'me and my cats', user_path(current_user), class: "local-nav" %>&nbsp&nbsp&nbsp;
  
  <% end %>
  </div>
    <%= yield %>
  </body>
</html>
